* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 2px;
    margin-left: 20px;
}

/* ===== Header ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* ===== Hero ===== */
.hero {
  position: relative;
  display: flex;
  padding: 200px 100px;
  min-height: 600px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -683px;
  width: 1100px;
  height: 1100px;
  background: #ef8a3a;
  border-radius: 50%;
  z-index: 0;
}

.hero-text {
  max-width: 400px;
  z-index: 1;
}

.hero-text h1 {
  font-size: 48px;
  color: #ef8a3a;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 14px 32px;
  border: none;
  background: #ef8a3a;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* ===== Visual ===== */
.hero-visual {
  position: relative;
  flex: 1;
  z-index: 1;
  margin-top: 150px;
}

.center-dish {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.center-dish img {
  width: 260px;
  border-radius: 50%;
  background: #fff;
  padding: 15px;
}

/* ===== Orbit ===== */
.orbit {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px dashed #9B430A;
}

.dish {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 6px;
}

/* позиции по кругу */
.d1 { top: -50px; left: 200px; }
.d2 {  left: 340px; }
.d3 { top: 215px; right: -20px; }
.d4 { bottom: 60px; right: 40px; }
.d5 { bottom: -20px; left: 215px; }
.d6 { bottom: 60px; left: 40px; }
.d7 { top: 215px; left: -20px; }
.d8 { top: 60px; left: 40px; }
.d9 { top: 60px; left: 40px; }
.d10 { top: 60px; left: 40px; }
